DATABASE_URL="postgresql://fintrack_user:fintrack_password@localhost:5432/fintrack_db?schema=public"

POSTGRES_USER=fintrack_user
POSTGRES_PASSWORD=fintrack_password
POSTGRES_DB=fintrack_db
POSTGRES_PORT=5432